@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.inline{
    display: inline-block;
}

.logo {
    margin-left: 50px; 
    color: white;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif
}

.user_name{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
}

.flag {
    max-height: 24px;
}

.icons{
    color:white;
    text-align: end;
    vertical-align: middle;
    margin-left: 5px;
}

.avatar{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    float: left;
}

#profile_information{
    color: black;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

#paginacao{
    width: 100;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
}

.container {
    margin-top: 50px;
    margin-left: 40px;
  }

  .image {
    flex-basis: 40%;
    display: inline-block;
  }

  #profile_image{
    max-width: 100px;
  }
  
  .blue_button{
      background-color: #3D5287;
      color: white;
      border-radius: 5px;
      font-size: medium;
  }

  #experiment_button{
      margin-left: 50px;
      margin-top: 30px;
  }

  .experiments_table{
      margin-top: 30px;
      margin-right: 50px;
      margin-left: 50px;
  }
  
  td {
      border: 1px solid black;
      width: auto;
      text-align: left;
      padding-left: 5px;
  }

  th {
    border: 1px solid black;
    width: auto;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
    }   

  table{
      width: 100%;
  }

  #table_pagincao{
      width: auto !important;
      margin: auto;
  }
  .td_paginacao{
      border: 0px;
      width: 20px;
      text-align: center;
      padding-left: 3px;
  }

  .barra{
      background-color: #3D5287;
      height: 50px;
  }

  #sign_up_text{
    font-family: 'Poppins', sans-serif;
    width: 50%;
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-size: xx-large;
    text-align: center;
    margin-top: 200px;
    margin-left: 50px;
    font-weight: bold;
  }

  #sign_up_form{
    font-family: 'Poppins', sans-serif;
    width: 30%;
    float: right;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-right: 60px;
    margin-top: 50px;
  }

  .input_data{
      width: 100%;
      margin-top:3px;
      margin-bottom:3px;
  }

  .input_description{
      width: 100%;
      font-size: x-small;
      color: #858585;
      margin-bottom: 0px;
  }

  label{
      margin-top: 10px;
  }

@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins/Poppins-Regular.ttf) format("ttf");
}